# Copyright (c) 2021 The WhiteBox Authors.  All rights reserved.
# Use of this source code is governed by a 3-Clause BSD license that can be
# found in the LICENSE file.

# EditorConfig is awesome: https://EditorConfig.org
# Top-most EditorConfig file.
root = true

[*]
# Expect sources in utf-8.
charset = utf-8
# Apply visual editor guidelines for all files.  For MSVC use EditorGuidelines
# extension to support this.
guidelines = 80
